.category {
    width: 20%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.buttons {
    display: flex;
}

.archiveButton {
    margin-top: 0.25rem;
    padding: 0.5rem;
    border: none;
    background-color: white;
}

.archiveButton:hover {
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.editButton {
    margin-top: 0.25rem;
    padding: 0.5rem;
    border: none;
    background-color: white;
}

.editButton:hover {
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
