.categoryName {
    font-family: 'Belanosima', sans-serif !important;
    color: rgb(5, 44, 116);
    text-align: center;
    padding: 0;
}

.categoryCardLink {
    color: black;
    text-decoration: none;
}

.css-46bh2p-MuiCardContent-root {
    padding: 0;
}

.css-46bh2p-MuiCardContent-root:last-child {
    padding: 0;
}

.categoryCardButtons {
    padding: 0;
}

.categoryCardActionButtons {
    color: rgb(126, 90, 47) !important;
    align-self: flex-end;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: 4rem;
}

.categoryCardActionButtons:hover {
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, 0.04) !important;
    cursor: pointer;
}

.categoryCardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.categoryCard {
    background-size: cover;
    background-repeat: no-repeat;
    width: 23.5rem;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
