.productsContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

.productsContainer p {
    font-size: 1.25rem;
    font-weight: bold;
}

.addProduct .add_product {
    align-self: center;
    border: 0.06rem solid #ccc;
    border-radius: 4rem;
    box-sizing: border-box;
    font-weight: bold;
    background-color: rgb(126, 89, 14);
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    color: white;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.addProduct .add_product:hover {
    background-color: rgb(218, 154, 26);
    cursor: pointer;
}

.products ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 550px) {

    .productsContainer {
        flex-direction: column;
    }

}
