.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #060565;
    background-color: #adcbf3;
}

.nav-bar p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 7rem;
    color: #060565;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-right: 2rem;
}

.nav-links .rootLink {
    padding-left: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #060565;
}

.nav-links .rootLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 0.5rem;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchInput {
    border: 1px solid #060565;
    border-radius: 5px 5px;
    height: 1.5rem;
}

.searchResultsContainer {
    margin-top: 3rem;
    margin-left: 0.5rem;
    position: absolute;
    width: 100%;
    background-color: #adcbf3;
    z-index: 99999;
    border-radius: 2px 2px;
}


@media only screen and (max-width: 550px) {
    .nav-bar p {
        padding-left: 2rem;
        font-size: 1rem;
    }

    .nav-links .rootLink {
        font-size: 0.8rem;
    }
}
